In [31]:
cid = "cid-0011"

In [32]:
print(cid)
print(f"The customer ID is {cid}")

cid-0011
The customer ID is cid-0011

A list is a built-in Python data structure used to store multiple values in a single variable.

**Characteristics:**


*  Lists are ordered
*  Lists are mutable
*  Lists allow duplicate values

A list is defined using square brackets [].

In [33]:
numbers = [10, 20, 30]

In [34]:
customer_id = ["cid-0011", "cid-0012", "cid-0013", "cid-0014", "cid-0015"]

In [35]:
print(customer_id)

['cid-0011', 'cid-0012', 'cid-0013', 'cid-0014', 'cid-0015']

In [36]:
credit_score = [650, 720, 580, 690, 710]
age = [25, 30, 28, 35, 40]
debt_status = ["No Debt", "No Debt", "Debt", "No Debt", "No Debt"]
active_credit_cards = [1, 3, 2, 4, 1]
prec_on_time = [0.80, 0.75, 0.30, 0.90, 0.60]

In [37]:
print(customer_id)
print(credit_score)
print(age)
print(debt_status)
print(active_credit_cards)
print(prec_on_time)

['cid-0011', 'cid-0012', 'cid-0013', 'cid-0014', 'cid-0015']
[650, 720, 580, 690, 710]
[25, 30, 28, 35, 40]
['No Debt', 'No Debt', 'Debt', 'No Debt', 'No Debt']
[1, 3, 2, 4, 1]
[0.8, 0.75, 0.3, 0.9, 0.6]

Python lists start indexing from 0.
The first element has index 0, second has index 1, and so on.

In [38]:
index = customer_id.index("cid-0012")

print(customer_id[index])
print(credit_score[index])
print(age[index])
print(debt_status[index])
print(active_credit_cards[index])

cid-0012
720
30
No Debt
3

In [39]:
index = customer_id.index("cid-0011")
debt_status[index] = "Debt"

print(debt_status)

['Debt', 'No Debt', 'Debt', 'No Debt', 'No Debt']

In [40]:
if prec_on_time[1] > 0.7:
    credit_score[1] = credit_score[1] * 1.02

print(credit_score)

[650, 734.4, 580, 690, 710]

In [41]:
for i in range(len(prec_on_time)):
    if prec_on_time[i] > 0.75:
        credit_score[i] = credit_score[i] * 1.02

print(credit_score)

[663.0, 734.4, 580, 703.8000000000001, 710]

In [42]:
for i in range(len(prec_on_time)):
    if prec_on_time[i] < 0.40:
        credit_score[i] = credit_score[i] * 0.98

print(credit_score)

[663.0, 734.4, 568.4, 703.8000000000001, 710]

In [43]:
count = 0
for score in credit_score:
    if score > 700:
        print(score)
        count += 1

print("Total customers with score > 700:", count)

734.4
703.8000000000001
710
Total customers with score > 700: 3

In [44]:
count = 0
for cards in active_credit_cards:
    if cards > 2:
        count += 1

print("Customers with more than 2 cards:", count)

Customers with more than 2 cards: 2

In [45]:
debt = 0
no_debt = 0

for status in debt_status:
    if status == "Debt":
        debt += 1
    else:
        no_debt += 1

print("Debt:", debt)
print("No Debt:", no_debt)

Debt: 2
No Debt: 3

In [46]:
for i in range(len(customer_id)):
    if customer_id[i] == "cid-0012":
        print(customer_id[i], credit_score[i], age[i], debt_status[i], active_credit_cards[i])

cid-0012 734.4 30 No Debt 3

In [47]:
def get_customer_details(cust_id):
    for i in range(len(customer_id)):
        if customer_id[i] == cust_id:
            print(customer_id[i], credit_score[i], age[i], debt_status[i], active_credit_cards[i])

In [48]:
get_customer_details("cid-0011")

cid-0011 663.0 25 Debt 1

In [49]:
get_customer_details("cid-0012")

cid-0012 734.4 30 No Debt 3

In [50]:
customer_data = {
    "cust_id": customer_id,
    "credit_score": credit_score,
    "age": age,
    "debt_status": debt_status,
    "active_credit_cards": active_credit_cards
}

print(customer_data)

{'cust_id': ['cid-0011', 'cid-0012', 'cid-0013', 'cid-0014', 'cid-0015'], 'credit_score': [663.0, 734.4, 568.4, 703.8000000000001, 710], 'age': [25, 30, 28, 35, 40], 'debt_status': ['Debt', 'No Debt', 'Debt', 'No Debt', 'No Debt'], 'active_credit_cards': [1, 3, 2, 4, 1]}

In [51]:
print(customer_data["cust_id"])

['cid-0011', 'cid-0012', 'cid-0013', 'cid-0014', 'cid-0015']

In [52]:
print(customer_data["cust_id"][2])

cid-0013

In [53]:
index = customer_data["cust_id"].index("cid-0014")

for key in customer_data:
    print(key, ":", customer_data[key][index])

cust_id : cid-0014
credit_score : 703.8000000000001
age : 35
debt_status : No Debt
active_credit_cards : 4

In [54]:
import pandas as pd

df = pd.DataFrame(customer_data)
df

    cust_id  credit_score  age debt_status  active_credit_cards
0  cid-0011         663.0   25        Debt                    1
1  cid-0012         734.4   30     No Debt                    3
2  cid-0013         568.4   28        Debt                    2
3  cid-0014         703.8   35     No Debt                    4
4  cid-0015         710.0   40     No Debt                    1

In [55]:
df.head(3)

    cust_id  credit_score  age debt_status  active_credit_cards
0  cid-0011         663.0   25        Debt                    1
1  cid-0012         734.4   30     No Debt                    3
2  cid-0013         568.4   28        Debt                    2

In [56]:
df.tail(3)

    cust_id  credit_score  age debt_status  active_credit_cards
2  cid-0013         568.4   28        Debt                    2
3  cid-0014         703.8   35     No Debt                    4
4  cid-0015         710.0   40     No Debt                    1

In [57]:
df.describe()

       credit_score       age  active_credit_cards
count      5.000000   5.00000              5.00000
mean     675.920000  31.60000              2.20000
std       65.356958   5.94138              1.30384
min      568.400000  25.00000              1.00000
25%      663.000000  28.00000              1.00000
50%      703.800000  30.00000              2.00000
75%      710.000000  35.00000              3.00000
max      734.400000  40.00000              4.00000

In [58]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
credit_score,5.0,675.92,65.356958,568.4,663.0,703.8,710.0,734.4
age,5.0,31.60,5.941380,25.0,28.0,30.0,35.0,40.0
active_credit_cards,5.0,2.20,1.303840,1.0,1.0,2.0,3.0,4.0

In [59]:
df.shape

(5, 5)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              5 non-null      object
 1   credit_score         5 non-null      float64
 2   age                  5 non-null      int64
 3   debt_status          5 non-null      object
 4   active_credit_cards  5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes